  <header id="header" height:unset; background-image:unset; background:pink;>
    <!--- <div class="wrap" style="display: block; margin: 0 auto; padding-top: 10px;"> ---->
      
      <a style="text-decoration : none; color : #000;"; href="/">
      
          <div class="container">

        <div class="row">
        
        <div class="span2">
        </div>
          
        <div class="span3">
        <h1 id="logo">
         <img src="/assets/img/Logo.svg" width="250px";>
        </h1>
       </div>
          
          <div class="span1">
            <p> </p>
        </div>
         
      <div class="span4">
       <p>{{ site.description }}
       <!---Under the editorship of <a href="/tag/Belarusan·language/">M. Seveleu</a>.-->
       Editors: <a href="/tag/Belarusan·language/">Seveleu</a> · <a href="/tag/Persian·language/">Dabiri</a> · <a href="/tag/English·language/">Lie</a>.</p>
      </div>
          
      
        <div class="span2">
        </div> 
          
     </a>
     </div>        
          </div>

  <!---  </div> --->
 </header>
