
<div class="item-image"><img src="/thumbnails/{{ post.thumbnail }}"></div>
<div class="item-name">
{% if post.tags %}{% for tag in post.tags %}{% capture tag_name %}{{ tag }}{% endcapture %}
<a style="text-decoration:none;"; href="/tag/{{ tag_name }}"  class="tagged"><nobr>{{ tag_name }}</nobr></a>&nbsp;{% endfor %}{% endif %}<br>
<strong>{{ post.title }}</strong>, <i font-family:serif;>{{ post.author }}</i> //<br><strong>{{ post.ortitle }}</strong>, <i font-family:serif;>{{ post.orauthor }}</i>
</div>
