<!DOCTYPE html>
<html>
  {% include head.html %}



<body>

  {% include header.html %}

 <!---<div class="banner72">
   <a href="http://www.ens.fr/actualites/decouvrez-le-parcours-humanites-numeriques-l-ens" target="_blank">Publicité.<br>Découvrez le parcours <strong>Humanités numériques</strong> à l'ENS</a>
    </div> ---->

  <div id="pagecontainer" class="container">

    <div class="hero-unit" style="display: block;" >
     <span style="technical">
       <strong>Browse by languages and scripts:</strong>
       {% include archive.html %}
     </span>
   </div>
    
    
   
    <div id="content">
        {{ content }}
    </div>
    
      <div class="hero-unit" style="display: block; margin: 0 auto;width: 150px;text-align:  center;" >
         <span style="technical">
           <strong>Other books:</strong><br>
           {% if page.previous.url %}<a class="prev" href="{{page.previous.url}}">&laquo; Back</a>{% endif %}
           {% if page.next.url %}    <a class="next" href="{{page.next.url}}">Forth &raquo;</a>{% endif %}
         </span>
      </div>
  
  </div>

  {% include footer.html %}


</body>
</html>
