---
layout: default
---

<div id="post" class="container">

	<div class="postthumb"><img src="/thumbnails/{{ page.thumbnail }}" /></div>

	<h1>{{ page.title }}, <i style="font-weight:normal;  font-family:Times New Roman; size:40%">{{ page.author }}</i> <i color:#aaaaaa;>//</i></h1>
	<h1>{{ page.ortitle }}, <i style="font-weight:normal;  font-family:Times New Roman; size:40%">{{ page.orauthor }}</i></h1>

	<div class="meta clearfix">
		
		<strong>Author (English):</strong> {{ page.author }}
		
		
		<br /><strong>Title (English):</strong> {{ page.title }}

		{% if page.resume %}
			<br /><strong>Resume (English):</strong> {{ page.resume }}
		{% endif %}
			
		{% if page.tags %}
			<br /><strong>Language, script:</strong>
		{% for tag in page.tags %}{% capture tag_name %}{{ tag }}{% endcapture %}
                        <a href="/tag/{{ tag_name }}"><nobr>{{ tag_name }}</nobr></code> </a>
                {% endfor %}
		{% endif %}
		
  
		
		{% if page.graphics %}
			<br /><strong>Graphic system:</strong> {{ page.graphics }}
		{% endif %}
		
		{% if page.ortitle %}
			<br /><strong>Name:</strong> {{ page.ortitle }}
		{% endif %}

		{% if page.orauthor %}
			<br /><strong>Author:</strong> {{ page.orauthor }}
		{% endif %}
		
		{% if page.orresume %}
			<br /><strong>Resume:</strong> {{ page.orresume }}
		{% endif %}

		<br /><br />
		{% if page.homepage %}
			<a class="btn" href="{{ page.homepage }}"><i class="icon-home"></i> Homepage</a>
		{% endif %}
		{% if page.download %}
			<a class="btn" href="{{ page.download }}"><i class="icon-download-alt"></i> Download</a>
		{% endif %}
		{% if page.demo %}
			<a class="btn" href="{{ page.demo }}"><i class="icon-road"></i> Demo</a>
		{% endif %}
		{% if page.license_link %}
			<a class="btn" href="{{ page.license_link }}"><i class="icon-file"></i> License</a>
		{% endif %}
	</div>


	<div class="post-content">
	{{ content }}
	</div>

</div>
