---
layout: default
---

<div id="post" class="container">

	<div class="postthumb"><img src="/thumbnails/{{ page.thumbnail }}" /></div>

	<h1>{{ page.title }}, <i style="font-weight:normal;">{{ page.author }}</i> <i color:#aaaaaa;>{% if page.ortitle %}//{% endif %}</i></h1> 
	{% if page.ortitle %}
	<h1><span {% if page.tags contains "Arabic·script" %}class="arabic"{% endif %}>{{ page.ortitle }}{% if page.tags contains "Arabic·script" %}،{% else %},{% endif %} <i style="font-weight:normal;{% if page.tags contains "Arabic·script" %}font-style:normal;{% endif %}">{{ page.orauthor }}</i></span></h1>{% endif %}

	<div class="meta clearfix">
		
		<p class="bulk"><span class="technical">Author:<sup>En</sup></span> {{ page.author }}</p>
		<p class="bulk"><span class="technical">Title:</strong><sup>En</sup></span> {{ page.title }}</p>
		{% if page.resume %}<p class="bulk"><span class="technical">Resume:<sup>En</sup></span> {{ page.resume }}</p>{% endif %}
		{% if page.editpers %}<p class="bulk"><span class="technical">Editor:</span> {{ page.editpers }}</p>{% endif %}
		{% if page.tags %}<p class="bulk"><span class="technical">Language, script:</span>
		{% for tag in page.tags %}{% capture tag_name %}{{ tag }}{% endcapture %}
                  <a href="/tag/{{ tag_name }}" class="tagged"><nobr>{{ tag_name }}</nobr></code></a>&nbsp;
                {% endfor %}
		</p>{% endif %}
        
        {% if page.ortitle %}<hr>{% endif %}
		
		{% if page.ortitle %}<p class="bulk"><span class="technical">Title:</span> <span {% if page.tags contains "Arabic·script" %}class="arabic"{% endif %}>{{ page.ortitle }}</span></p>{% endif %}
		{% if page.orauthor %}<p class="bulk"><span class="technical">Author:</span> <span {% if page.tags contains "Arabic·script" %}class="arabic"{% endif %}>{{ page.orauthor }}</span></p>{% endif %}
		{% if page.orresume %}<p class="bulk"><span class="technical">Resume:</span> <span {% if page.tags contains "Arabic·script" %}class="arabic"{% endif %}>{{ page.orresume }}</span></p>{% endif %}

		<!---
		{% if page.homepage %}<a class="btn" href="{{ page.homepage }}"><i class="icon-home"></i> Homepage</a>{% endif %}
		{% if page.download %}<a class="btn" href="{{ page.download }}"><i class="icon-download-alt"></i> Download</a>{% endif %}
		{% if page.demo %}<a class="btn" href="{{ page.demo }}"><i class="icon-road"></i> Demo</a>{% endif %}
		{% if page.license_link %}<a class="btn" href="{{ page.license_link }}"><i class="icon-file"></i> License</a>{% endif %}
                --->

		{% if page.editor %}<p class="bulk"><span class="technical">Publisher:</span> {{ page.editor }} {% if page.editorpic %}<img width="20%" src="/thumbnails/{{ page.editorpic }}" />{% endif %}</p>{% endif %}
		{% if page.isbn %}<p class="bulk"><span class="technical">ISBN:</span> <a target="_blank" href="https://www.amazon.com/gp/search/?field-isbn={{ page.isbn }}">{{ page.isbn }}</a></p>{% endif %}		
	</div>

	{% if page.readonline %}
	<a href="{{ page.readonline }}"><div class="hero-unit" style="display: block; margin: 0 auto;width: 150px;text-align:  center; background: #e4eff5;" >
         <span style="technical">
           <strong>Read online</strong>
         </span>
        </div></a>
 	{% endif %}
	

        {% if page.content %}<hr>{% endif %}
		<div class="post-content">
		{{ content }}
		</div>
 
          <div class="hero-unit" style="display: block; margin: 0 auto;width: 150px;text-align:  center;" >
         <span style="technical">
           Other books:<br>
           {% if page.next.url %}<a class="prev" href="{{page.next.url}}">&laquo; <strong>Back</strong></a>{% endif %}
           {% if page.previous.url %}    <a class="next" href="{{page.previous.url}}"><strong>Forth</strong> &raquo;</a>{% endif %}
         </span>
      </div>

</div>
