---
layout: default
---

<div id="post" class="container">

	<div class="postthumb"><img src="/thumbnails/{{ page.thumbnail }}" /></div>

	<h1>{{ page.title }}, <i style="font-weight:normal;">{{ page.author }}</i> <i color:#aaaaaa;>//</i></h1>
	<h1>{{ page.ortitle }}, <i style="font-weight:normal;">{{ page.orauthor }}</i></h1>

	<div class="meta clearfix">
		
		<div class="technical">Author:<sup>En</sup></div> {{ page.author }}
		
		
		<br /><div class="technical">Title:</strong><sup>En</sup></div> {{ page.title }}

		{% if page.resume %}
			<br /><div class="technical">Resume:<sup>En</sup></div> {{ page.resume }}
		{% endif %}
			
		{% if page.tags %}
			<br /><div class="technical">Language, script:</div>
		{% for tag in page.tags %}{% capture tag_name %}{{ tag }}{% endcapture %}
                        <a href="/tag/{{ tag_name }}" class="tagged"><nobr>{{ tag_name }}</nobr></code></a>&nbsp;
                {% endfor %}
		{% endif %}
                <hr
		
		{% if page.ortitle %}
			<br /><div class="technical">Name:</div> {{ page.ortitle }}
		{% endif %}

		{% if page.orauthor %}
			<br /><div class="technical">Author:</div> {{ page.orauthor }}
		{% endif %}
		
		{% if page.orresume %}
			<br /><div class="technical">Resume:</div> {{ page.orresume }}
		{% endif %}

		<br /><br />
		{% if page.homepage %}
			<a class="btn" href="{{ page.homepage }}"><i class="icon-home"></i> Homepage</a>
		{% endif %}
		{% if page.download %}
			<a class="btn" href="{{ page.download }}"><i class="icon-download-alt"></i> Download</a>
		{% endif %}
		{% if page.demo %}
			<a class="btn" href="{{ page.demo }}"><i class="icon-road"></i> Demo</a>
		{% endif %}
		{% if page.license_link %}
			<a class="btn" href="{{ page.license_link }}"><i class="icon-file"></i> License</a>
		{% endif %}
	</div>


	<div class="post-content">
	{{ content }}
	</div>

</div>
